{% extends "base.html" %}

{% block continut %}

	<div class="well">
		<form method="post" class="form-horizontal">
		<fieldset>
			<!-- Form Name -->
			<legend>Cont nou</legend>

			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label" for="nume">Nume utilizator</label>
			  <div class="controls">
			    <input id="nume" name="nume" type="text" placeholder="" class="input-xlarge">
			    
			  </div>
			</div>

			<!-- Password input-->
			<div class="control-group">
			  <label class="control-label" for="parola">Parola</label>
			  <div class="controls">
			    <input id="parola" name="parola" type="password" placeholder="" class="input-xlarge">
			    
			  </div>
			</div>

			<br>
				<input class = "btn" type="submit" value="Inregistreaza">

		</fieldset>
		</form>
	</div>


{% endblock %}
